NEXT_PUBLIC_SUPABASE_URL=https://secure.almostcrackd.ai
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_PROJECT_ID=qihsgnfjqmkjmoowyfbn
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=388960353527-fh4grc6mla425lg0e3g1hh67omtrdihd.apps.googleusercontent.com
